# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('AB_NYC_2019 - AB_NYC_2019.csv' sep = ",")
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [14]:
# How many neighborhood groups are available and which shows up the most?

print("The number of unique nieghbourhood groups in the data is :",air_bnb['neighbourhood_group'].nunique())
air_bnb.groupby('neighbourhood_group').count()
print("Manhattan has the most")

The number of unique nieghbourhood groups in the data is : 5

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [24]:
# Are private rooms the most popular in manhattan?
manhattan_rooms = air_bnb.query("neighbourhood_group == 'Manhattan'")
manhattan_rooms.groupby('room_type').count()
print("Private rooms are not the most popular in manhattan")

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
room_type,,,,,,,,,,,,,,,
Entire home/apt,13199,13193,13199,13196,13199,13199,13199,13199,13199,13199,13199,9967,9967,13199,13199
Private room,7982,7979,7982,7976,7982,7982,7982,7982,7982,7982,7982,6309,6309,7982,7982
Shared room,480,480,480,480,480,480,480,480,480,480,480,356,356,480,480

In [59]:
# Which hosts are the busiest and based on their reviews?
sum_host_name_reviews = air_bnb.groupby('host_name')['reviews_per_month'].sum()
busy_hosts =sum_host_name_reviews.sort_values(ascending=False)
print(busy_hosts.head(1))

sum_host_name_reviews2 = air_bnb.groupby('host_name')['number_of_reviews'].sum()
busy_hosts2 =sum_host_name_reviews2.sort_values(ascending=False)
print(busy_hosts2.head(1))

print("David has the highest velocity of reviews, but Micheal has the highest number of reviews")

host_name
David    508.61
Name: reviews_per_month, dtype: float64

host_name
Michael    11081
Name: number_of_reviews, dtype: int64

In [40]:
#Which neighorhood group has the highest average price?
answer = air_bnb.groupby('neighbourhood_group')['price'].mean()
#find the index of nieghbourhood group
index_group = answer.idxmax()
print(f'The group {index_group} has the price of {answer.max()}')

The group Manhattan has the price of 196.8758136743456

In [42]:
# Which neighbor hood group has the highest total price?
answer2 = air_bnb.groupby('neighbourhood_group')['price'].sum()
#find the index of nieghbourhood group
index_group2 = answer.idxmax()
print(f'The group {index_group2} has the price of {answer2.sum()}')

The group Manhattan has the price of 7467278

In [50]:
#Which top 5 hosts have the highest total price?
sum_host_name_price = air_bnb.groupby('host_name')['price'].sum()
answer_sum = sum_host_name_price.sort_values(ascending=False)
print(answer_sum.head(5))

host_name
Sonder (NYC)    82795
Blueground      70331
Michael         66895
David           65844
Alex            52563
Name: price, dtype: int64

In [75]:
# Who currently has no (zero) availability with a review count of 100 or more?
availabity_review_count_filt = air_bnb.query('number_of_reviews > 100 and availability_365 == 0')
count=availabity_review_count_filt.shape[0]
print(f'The Number of reviews that meet these conditions are {count}')

The Number of reviews that meet these conditions are 158

In [111]:
# What host has the highest total of prices and where are they located?
answer_high_total_by_host_name = air_bnb.groupby('host_name')['price'].sum()
print(air_bnb.query('host_name == "Sonder (NYC)"'))
index_group_total_price = answer_high_total_by_host_name.idxmax()
print(index_group_total_price)
neighbourhood_group_counts = air_bnb.query('host_name == "Sonder (NYC)"')['neighbourhood_group'].value_counts()
print(f'The individual of {index_group_total_price} has listings in  {neighbourhood_group_counts}')

             id                                               name    host_id  \
38293  30181691      Sonder | 180 Water | Incredible 2BR + Rooftop  219517861
38294  30181945         Sonder | 180 Water | Premier 1BR + Rooftop  219517861
38588  30347708        Sonder | 180 Water | Charming 1BR + Rooftop  219517861
39769  30937590            Sonder | The Nash | Artsy 1BR + Rooftop  219517861
39770  30937591        Sonder | The Nash | Lovely Studio + Rooftop  219517861
...         ...                                                ...        ...
47691  35871510  Sonder | 116 John | Vibrant Studio + Fitness Room  219517861
47692  35871511     Sonder | 116 John | Vibrant 1BR + Fitness Room  219517861
47693  35871515         Sonder | 116 John | Stunning 1BR + Rooftop  219517861
47814  35936418          Sonder | 116 John | Polished Studio + Gym  219517861
47821  35937891            Sonder | 116 John | Simple Studio + Gym  219517861

          host_name neighbourhood_group       neighbourhood  latitude  \
38293  Sonder (NYC)           Manhattan  Financial District  40.70637
38294  Sonder (NYC)           Manhattan  Financial District  40.70771
38588  Sonder (NYC)           Manhattan  Financial District  40.70743
39769  Sonder (NYC)           Manhattan         Murray Hill  40.74792
39770  Sonder (NYC)           Manhattan         Murray Hill  40.74771
...             ...                 ...                 ...       ...
47691  Sonder (NYC)           Manhattan  Financial District  40.70818
47692  Sonder (NYC)           Manhattan  Financial District  40.70691
47693  Sonder (NYC)           Manhattan  Financial District  40.70772
47814  Sonder (NYC)           Manhattan  Financial District  40.70840
47821  Sonder (NYC)           Manhattan  Financial District  40.70707

       longitude        room_type  price  minimum_nights  number_of_reviews  \
38293  -74.00645  Entire home/apt    302              29                  0
38294  -74.00641  Entire home/apt    229              29                  1
38588  -74.00443  Entire home/apt    232              29                  1
39769  -73.97614  Entire home/apt    262               2                  8
39770  -73.97528  Entire home/apt    255               2                 14
...          ...              ...    ...             ...                ...
47691  -74.00631  Entire home/apt    135              29                  0
47692  -74.00682  Entire home/apt    165              29                  0
47693  -74.00673  Entire home/apt    165              29                  0
47814  -74.00518  Entire home/apt    699              29                  0
47821  -74.00557  Entire home/apt    699              29                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
38293         NaN                NaN                             327
38294  2019-05-29               0.73                             327
38588  2019-05-21               0.60                             327
39769  2019-06-09               1.86                             327
39770  2019-06-10               2.59                             327
...           ...                ...                             ...
47691         NaN                NaN                             327
47692         NaN                NaN                             327
47693         NaN                NaN                             327
47814         NaN                NaN                             327
47821         NaN                NaN                             327

       availability_365
38293               309
38294               219
38588               159
39769                91
39770                81
...                 ...
47691               339
47692               342
47693               347
47814               327
47821               341

[327 rows x 16 columns]
Sonder (NYC)
The individual of Sonder (NYC) has listings in  Manhattan    327
Name: neighbourhood_group, dtype: int64

In [125]:
# When did Danielle from Queens last receive a review?
air_bnb['last_review'] = pd.to_datetime(air_bnb['last_review'])
Danielle_reviews=air_bnb.query('host_name == "Danielle"')["last_review"]
sorted_Danielle=Danielle_reviews.sort_values(ascending=False)
#print(air_bnb.query('host_name == "Danielle"'))
print("The host named Danielle has a last review of: ", sorted_Danielle.head(1))


sum_host_name_reviews = air_bnb.groupby('host_name')['reviews_per_month'].sum()
busy_hosts =sum_host_name_reviews.sort_values(ascending=False)
print(busy_hosts.head(1))

sum_host_name_reviews2 = air_bnb.groupby('host_name')['number_of_reviews'].sum()
busy_hosts2 =sum_host_name_reviews2.sort_values(ascending=False)

The host named Danielle has a last review of:  22469   2019-07-08
Name: last_review, dtype: datetime64[ns]

## Further Questions

1. Which host has the most listings?

In [129]:

sum_host_listings_groupby = air_bnb.groupby('host_name').size()
busy_hosts =sum_host_listings_groupby.sort_values(ascending=False)
print(busy_hosts.head(1))

host_name
Michael    417
dtype: int64

2. How many listings have completely open availability?

In [135]:
availabity_review_count_filt = air_bnb.query('availability_365 == 365')
print("The Number of listings with the 365 day availabitiy is:",availabity_review_count_filt.count()['availability_365'])

The Number of listings with the 365 day availabitiy is: 1295

3. What room_types have the highest review numbers?

In [141]:
sum_room_tpye_reviews2 = air_bnb.groupby('room_type')['number_of_reviews'].sum()
print("room type that has the most number of reviews is:", sum_room_tpye_reviews2.head(1))

room type that has the most number of reviews is: room_type
Entire home/apt    580403
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:

"""

"The most common type of room is 'home/apt' inside Manhattan, 
where larger players own most of the listings within the city of NYC. 
Even though Airbnb is designed to support smaller players due to low barriers to entry,
the larger share, driven by economics, 
results in the same pattern of the few owning most of the resources."

This observation underscores the competitive nature of the Airbnb market, 
where larger hosts can leverage economies of scale to offer more listings 
and potentially capture a significant share of the business. 
It's a phenomenon observed in various sharing economy platforms where 
scalability can lead to market concentration

A question that needs to be asked is the market share outside of the top 20%.
I predict the results will follow the power law in mathematis where the bottom 80% 
will have less than the 20% of the market in terms of reviews per month and total reviews
"""